<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Pizza</title>
    <link rel="stylesheet" href="../styles/bestpizza.css">
    <link rel="stylesheet" href="../styles/bestpizzalogin.css">

  </head>
  <body>
    <div class="pizzapage">

      <div class="header">
        <div id="logo">
          <h1>BEST PIZZA</h1>
          <div class="image">
            <a href="/"><img src="/images/pizza.png" alt="pizza" title="this is a pizza" /></a>
          </div>
          <p>718-388-1980</p>
        </div>
    </div><!-- close header -->

    <div class="contentwrapper">
      <h3>OH NO ERROR PAGE</h3>
      <div class="loginwrapper">
        <p><a href="/auth/login">Return to LOGIN</a></p>
        <p>Pizza Club | <a href="/auth/register">Return to Register</a></p>
      </div>
    </div><!-- close contentwrapper -->

    <div class="footer">
      <p>BEST PIZZA INFO&reg;</p>
    </div>
  </div><!-- close pizzapage -->
  </body>
</html>
