<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Pizza</title>
    <link rel="stylesheet" href="../styles/bestpizza.css">
  </head>
  <body>
    <div class="pizzapage">

      <div class="header">
        <div id="logo">
          <h1>BEST PIZZA</h1>
          <div class="image">
            <a href="/"><img src="/images/pizza.png" alt="pizza" title="this is a pizza" /></a>
          </div>
          <p>718-388-1980</p>
        </div>
        <hr>

      <div class="logincontainer">
        <div class="loginwrapper">
          <p><a href="/auth/login">LOGIN</a></p>
          <p>Pizza Club | <a href="/login">Join</a></p>
        </div>
      </div>
      <hr>
      <div class="nav">
        <p> <a href="/menu">MENU</a> | <a href="/specials">SPECIALS</a></p>
      </div>
      <hr>
    </div><!-- close header -->

    <div class="contentwrapper">

    <div class="wrapperbox">
      <h3>Welcome to the Main Pizza Club Page</h3>
      <a href="/pizzaclub"><h2>JOIN THE PIZZA CLUB</h2></a>
      <p>Reason 1</p>
      <p>Reason 2</p>
      <p>Reason 3</p>
      <br>
      <button type="button" name="button">JOIN</button>
    </div><!-- close pizzaclubinfo -->
  </div><!-- close contentwrapper -->
    <div class="footer">
      <p>BEST PIZZA INFO&reg;</p>
    </div>
  </div><!-- close pizzapage -->
  </body>
</html>
